
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="colorlib-logo">@Html.ActionLink("NPH STORE", "Index", "Home")</div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li>@Html.ActionLink("Trang Chủ","Index","Home")</li>
                            <li class="has-dropdown">
                                @Html.ActionLink("Cửa Hàng", "Index", "Store")
                                <ul class="dropdown">
                                    <li>@Html.ActionLink("Giỏ Hàng", "Index", "Cart")</li>
                                    <li>@Html.ActionLink("Kiểm Tra", "Index", "Check")</li>
                                    <li>@Html.ActionLink("Hoàn Thành", "Index", "Order")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Liên Hệ", "Index", "Contact")</li>
                            <li><i class="icon-shopping-cart"></i>@Html.ActionLink("Giỏ Hàng[0]", "Index", "Cart")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <aside id="colorlib-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(/Assets/Client/images/img_bg_1.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-2 col-sm-12 col-xs-12 slider-text">
                                <div class="slider-text-inner">
                                    <div class="desc">
                                        <h1 class="head-1">Bộ Sưu Tập</h1>
                                        <h2 class="head-2">Jeans</h2>
                                        <h2 class="head-3">Nam</h2>
                                        <p class="category"><span>Áo sơ mi mới &amp; Phụ kiện</span></p>
                                        <p class="btn btn-primary">Shop Collection</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/Assets/Client/images/img_bg_2.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-2 col-sm-12 col-xs-12 slider-text">
                                <div class="slider-text-inner">
                                    <div class="desc">
                                        <h1 class="head-1">Sale</h1>
                                        <h2 class="head-2">Thả Phanh</h2>
                                        <h2 class="head-3">Giảm Giá 40%</h2>
                                        <p class="category"><span>Áo sơ mi mới &amp; Phụ kiện</span></p>
                                        <p class="btn btn-primary">Shop Collection</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(/Assets/Client/images/img_bg_3.jpg);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 slider-text">
                                <div class="slider-text-inner">
                                    <div class="desc">
                                        <h1 class="head-1">Sản Phẩm</h1>
                                        <h2 class="head-1">Mới</h2>
                                        <h2 class="head-3">Giảm Giá Đến 30%</h2>
                                        <p class="category"><span>Áo sơ mi, quần dài mới &amp; Phụ kiện</span></p>
                                        <p class="btn btn-primary">Shop Collection</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div id="colorlib-featured-product">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="f-product-1" style="background-image: url(/Assets/Client/images/item-1.jpg);">
                        <div class="desc">
                            <h2>Thời<br>Trang <br>Nam</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="f-product-2" style="background-image: url(/Assets/Client/images/item-2.jpg);">
                                <div class="desc">
                                    <h2>Thời<br>Trang <br>Nữ</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="f-product-2" style="background-image: url(/Assets/Client/images/item-4.jpg);">
                                <div class="desc">
                                    <h2>Giảm <br>Giá <br>20%</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12">
                            <a href="#" class="f-product-2" style="background-image: url(/Assets/Client/images/item-3.jpg);">
                                <div class="desc">
                                    <h2>Giày <br>Nam <br>Nữ</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-shop">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                    <h2><span>Sản Phẩm Mới</span></h2>
                    <p>Nếu bạn tự thấy mình rất kém trong khoản phối màu sao cho nổi bật, năm nay bạn có thể quẳng gánh lo sang một bên bởi kiểu phối matchy-matchy tuyền một màu từ trên xuống dưới sẽ lên ngôi.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/1.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Sơ Mi Nam Q01", "Index", "Store")</h3>
                            <p class="price"><span>255,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/ii3.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Sơ Mi Nữ W01", "Index", "Store")</h3>
                            <p class="price"><span>260,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/i1.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>
                                    <
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Áo Khoác Nam Dù E01", "Index", "Store")</h3>
                            <p class="price"><span>425,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/q2.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Áo Khoác Thun Nữ R01", "Index", "Store")</h3>
                            <p class="price"><span>285,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-intro" class="colorlib-intro" style="background-image: url(/Assets/Client/images/cover-img-1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="intro-desc">
                        <div class="text-salebox">
                            <div class="text-lefts">
                                <div class="sale-box">
                                    <div class="sale-box-top">
                                        <h2 class="number">45</h2>
                                        <span class="sup-1">%</span>
                                        <span class="sup-2">Off</span>
                                    </div>
                                    <h2 class="text-sale">Sale</h2>
                                </div>
                            </div>
                            <div class="text-rights">
                                <h3 class="title">Hứng bão SALE lớn nhất trong năm</h3>
                                <p>Đón bão SALE bất ngờ từ NPH Store trong tháng này với nhiều chương trình khuyến mãi hấp dẫn</p>
                                <p><a href="#" class="btn btn-primary btn-outline">Mua Ngay</a> <a href="#" class="btn btn-primary btn-outline">Tìm Hiểu Thêm</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-shop">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                    <h2><span>Sản Phẩm Chúng Tôi</span></h2>
                    <p>Thiết kế đa dạng, phong cách trẻ trung, năng động, đường may sắc sảo, mang đến một sản phẩm tuyệt vời nhất là những tính năng mà sản phẩm đã mang đến cho quý khách hàng.Để chọn lựa một sản phẩm phù hợp với phong cách mà mình theo đuổi thì hãy cùng NPH Store điểm qua những mẫu "hot" nhất nhé!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/s1.jpg);">
                            <p class="tag"><span class="sale">Sale</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Áo Thun Nam M01", "Index", "Store")</h3>
                            <p class="price"><span>150,000 vnđ</span> <span class="sale">200,000 vnđ</span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/1.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Sơ Mi Nam Q01", "Index", "Store")</h3>
                            <p class="price"><span>255,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/ii3.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Sơ Mi Nữ W01", "Index", "Store")</h3>
                            <p class="price"><span>260,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/i1.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Áo Khoác Nam Dù E01", "Index", "Store")</h3>
                            <p class="price"><span>425,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/q2.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Áo Khoác Thun Nữ R01", "Index", "Store")</h3>
                            <p class="price"><span>285,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/x1.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Giày Nam P01", "Index", "Store")</h3>
                            <p class="price"><span>385,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/b1.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Giày Nữ B01", "Index", "Store")</h3>
                            <p class="price"><span>280,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(/Assets/Client/images/o1.jpg);">
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="#"><i class="icon-shopping-cart"></i></a></span>

                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3>@Html.ActionLink("Sơ Mi Nam No Style L01", "Index", "Store")</h3>
                            <p class="price"><span>255,000 vnđ</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-testimony" class="colorlib-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                    <h2><span>Phản hồi khách hàng</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="owl-carousel2">
                        <div class="item">
                            <div class="testimony text-center">
                                <span class="img-user" style="background-image: url(/Assets/Client/images/r11.jpg);"></span>
                                <span class="user">Đức Hoàng</span>
                                <small>Quận 9</small>
                                <blockquote>
                                    <p>Thích shop này lắm luôn nha được kiểm hàng đổi trả hàng nhanh lắm luôn ý. Thích cách tư vấn của nhân viên shop rất nhiệt tình dễ thương cực luôn sẽ còn ủng hộ shop nhiều nữa ạ rất ưng ý sản phẩm và chất lượng bên shop</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony text-center">
                                <span class="img-user" style="background-image: url(/Assets/Client/images/r22.jpg);"></span>
                                <span class="user">Phúc Hí</span>
                                <small>Bình Dương</small>
                                <blockquote>
                                    <p>Giá cả rất tốt,đặc biệt cực kì ưng chất vải của shop,ai là công sở mới hiểu độ không nhăn của áo quan trọng tới mức nào, nói chung ai dân công sở như tớ thì nên xem qua shop cực kì hài lòng về giá thành và chất vải.Mình mua lần 8 cái để mặc dần đi làm và được giảm giá nữa haha</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony text-center">
                                <span class="img-user" style="background-image: url(/Assets/Client/images/d11.jpg);"></span>
                                <span class="user">Duy Tính</span>
                                <small>Quận 9</small>
                                <blockquote>
                                    <p>Quần áo shop rất thích và dáng cũng Ok.Giá cả cũng phải chăng,hợp với túi tiền người tiêu dùng.Mà tư vấn viên rất nhiệt tình,chu đáo.Giao hàng nhanh. Mình sẽ tiếp tục ủng hộ shop</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="colorlib-subscribe">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-6 text-center">
                        <h2><i class="icon-paperplane"></i>ĐĂNG KÝ NHẬN ƯU ĐÃI</h2>
                    </div>
                    <div class="col-md-6">
                        <form class="form-inline qbstp-header-subscribe">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" placeholder="Email của bạn">
                                        <button type="submit" class="btn btn-primary">Đăng kí</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="colorlib-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-6 colorlib-widget">
                    <h4>Về Store</h4>
                    <p>NPH STORE cam kết chất lượng phục vụ tốt nhất, chuyên nghiệp nhất cho mọi khách hàng bằng chính sách hoàn tiền và tặng quà nếu nhân viên phục vụ quí khách không chu đáo.</p>
                    <p>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCTNMANN%2F&tabs=timeline&width=340&height=70&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="340" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </p>
                </div>

                <div class="col-md-6">
                    <h4>Thông Tin Liên Hệ</h4>
                    <ul class="colorlib-footer-links">
                        <li>Phường tăng nhơn phú A <br> Quận 9,Thành Phố Hồ Chí Minh</li>
                        <li>
                            <a href="tel:+84967882624">
                                <div class="hotline">
                                    <span class="before-hotline">Hotline:</span>
                                    <span class="hotline-number">0967.88.26.24</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </footer>
</div>

